# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [29]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [30]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [31]:
res = requests.get(url)
res.text

soup = BeautifulSoup(res.text)
#print(soup)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [32]:
#1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

# <article class="Box-row d-flex" id="pa-nornagon">  

#2. Use BeautifulSoup to extract all the html elements that contain the developer names.

dev_names = soup.select("article.Box-row.d-flex h1")
#print(dev_names[0].text)

lst = []
for e in dev_names:
    lst.append(e.text)
#print(lst)

In [33]:
#3. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. \n) 
#in the text of each html element. Use a list to store the clean names.

names = [n.strip("\n").strip() for n in lst]

In [34]:
#4. Print the list of names.
names

['Jeremy Apthorp',
 'jonesforth',
 'Jonah Williams',
 'json_widget',
 'Felix Angelov',
 'bloc',
 'chencheng (云谦)',
 'awesome-javascript',
 'Sebastián Ramírez',
 'fastapi',
 'Mariusz Nowak',
 'memoizee',
 'Dawid Urbaniak',
 'twitterClone',
 'Jeffrey Su',
 'WeiXinMPSDK',
 'Hugo Bowne-Anderson',
 'COVID-19-EDA-tutorial',
 'Felipe Fialho',
 'frontend-challenges',
 'Yuri Shkuro',
 'opentracing-tutorial',
 'R.I.Pienaar',
 'free-for-dev',
 'Zeno Rocha',
 'clipboard.js',
 'Maxim Kulkin',
 'esp-homekit-demo',
 'Robert Mosolgo',
 'graphql-ruby',
 'Pierre Krieger',
 'redshirt',
 'Iman',
 'laravel-widgetize',
 'Luis Alvarez D.',
 'next-with-apollo',
 'Matic Zavadlal',
 'graphql-shield',
 'Marten Seemann',
 'quic-conn',
 'David Peter',
 'bat',
 'Jake Wharton',
 'butterknife',
 'Jeff Bezanson',
 'femtolisp',
 'James Munnelly',
 'kube-plex',
 'Matthew Johnson',
 'pyhsmm']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [35]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [36]:
res = requests.get(url)
res.text

soup = BeautifulSoup(res.text)

In [37]:
repo_names = soup.select("article.Box-row h1")
#print(repo_names[0].text)

repo_lst = []
for r in repo_names:
    repo_lst.append(r.text)
    #print(repo_lst)
    
repos = [rep.strip("\n").strip() for rep in repo_lst]
#print(repos)

repositories = [x.replace("\n", "").replace(" ", "") for x in repos]
repositories

['rojter-tech/pluradl.py',
 'caoscott/SReC',
 '0voice/interview_internal_reference',
 'ageitgey/face_recognition',
 'manchenkoff/skillbox-async-chat',
 'XiaohangZhan/deocclusion',
 'google-research/text-to-text-transfer-transformer',
 'kon9chunkit/GitHub-Chinese-Top-Charts',
 'tiangolo/fastapi',
 'CorentinJ/Real-Time-Voice-Cloning',
 'home-assistant/core',
 'alex04072000/ObstructionRemoval',
 'pcomputo/Whole-Foods-Delivery-Slot',
 'CharlesPikachu/Games',
 'doccano/doccano',
 'google/jax',
 'hankcs/HanLP',
 'Sentdex/pygta5',
 'ray-project/ray',
 'Yelp/elastalert',
 'timgrossmann/InstaPy',
 'huggingface/transformers',
 'ikergarcia1996/Self-Driving-Car-in-Video-Games',
 'fizyr/keras-retinanet',
 'apache/airflow']

#### Display all the image links from Walt Disney wikipedia page

In [38]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [39]:
d_res = requests.get(url)

d_soup = BeautifulSoup(d_res.text)

In [40]:
# TRAER TODOS DE CLASS IMAGE = .CLASSNAME

disney_images = d_soup.select(".image")
#disney_images

In [41]:
link = [d["href"] for d in disney_images]
link

['/wiki/File:Walt_Disney_1946.JPG',
 '/wiki/File:Walt_Disney_1942_signature.svg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:The_Walt_Disney_Company_Logo.svg',
 '/wiki/File:Animation_disc.svg',
 '/wiki/File:P_vip.svg',
 '/wiki/File:Magic_Kingdom_castle.jpg',
 '/wiki/File:Video-x-generic.svg',
 '/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 '/wiki/File:Blank_television_set.svg',
 '/wiki/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [42]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [43]:
wiki_res = requests.get(url)

wiki_soup = BeautifulSoup(wiki_res.text)

In [44]:
wiki_links = wiki_soup.select("a[href]")
wiki_links[:3]

[<a class="mw-jump-link" href="#mw-head">Jump to navigation</a>,
 <a class="mw-jump-link" href="#p-search">Jump to search</a>,
 <a class="extiw" href="https://en.wiktionary.org/wiki/Python" title="wiktionary:Python">Python</a>]

In [45]:
links = [w["href"] for w in wiki_links]
links[:5]

['#mw-head',
 '#p-search',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '#Snakes']

#### Number of Titles that have changed in the United States Code since its last release point

In [46]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [47]:
usa_res = requests.get(url)

usa_soup = BeautifulSoup(usa_res.text)

In [48]:
usa_title = usa_soup.select(".usctitlechanged")
usa_title[0]

<div class="usctitlechanged" id="us/usc/t8">

          Title 8 - Aliens and Nationality

        </div>

In [49]:
usa_lst = [u for u in usa_title]
print(len(usa_lst))

4

#### A Python list with the top ten FBI's Most Wanted names

In [50]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [51]:
fbi_res = requests.get(url)

fbi_soup = BeautifulSoup(fbi_res.text)

In [52]:
fbi = fbi_soup.select(".title")
fbi[1].text

'\nYASER ABDEL SAID\n'

In [53]:
most_wanted = [name.text.strip().strip("\n") for name in fbi]
most_wanted[1:]

['YASER ABDEL SAID',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [54]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [55]:
eq_res = requests.get(url)

eq_soup = BeautifulSoup(eq_res.text)

In [89]:
[eq.text for eq in eq_soup.select("table:nth-of-type(1) td")]

['\n',
 '\n\n\n\n\nset_server_date(2020,4,9,19,26,42)\nCurrent time: 2020-04-09 19:26:42 UTC\n',
 '\n\n\xa0Member access\n\nName\xa0\n\n\nPwd\n\n\n\xa0',
 '\n\xa0Member access',
 '\n',
 'Name\xa0',
 '',
 '',
 'Pwd',
 '',
 '',
 '\xa0',
 '',
 '\xa0- Sorting by column is performed on the data of the current page.',
 'Glossary',
 '',
 '',
 '']

In [ ]:
# date & time: a[href] ??
# latitude & longitude: .tabev1 .tabev2
# region name: .tb_region

In [142]:
getText = lambda eq:eq.text
region = list(map(getText,eq_soup.select(".tb_region")))
latitude = list(map(getText,eq_soup.select(".tabev1")))
longitude = list(map(getText,eq_soup.select(".tabev2")))
date_time = list(map(getText,eq_soup.select("a[href]")))

In [145]:
df= pd.DataFrame(region)
df

                                    0
0                 SOUTHERN CALIFORNIA
1         NORTHERN SUMATRA, INDONESIA
2          DODECANESE ISLANDS, GREECE
3                      EASTERN TURKEY
4         SOUTHERN SUMATRA, INDONESIA
5                         PUERTO RICO
6            ISLAND OF HAWAII, HAWAII
7          DODECANESE ISLANDS, GREECE
8                       CRETE, GREECE
9                  PUERTO RICO REGION
10          CHAGOS ARCHIPELAGO REGION
11         KEPULAUAN BABAR, INDONESIA
12                SOUTHERN CALIFORNIA
13                           KOSOVO *
14                 LUZON, PHILIPPINES
15           ISLAND OF HAWAII, HAWAII
16                            CROATIA
17           AZORES ISLANDS, PORTUGAL
18      KERMADEC ISLANDS, NEW ZEALAND
19                 DOMINICAN REPUBLIC
20   NEAR EAST COAST OF HONSHU, JAPAN
21                     CENTRAL ALASKA
22   NEAR THE COAST OF WESTERN TURKEY
23                       ADRIATIC SEA
24                           OKLAHOMA
25          OFFSHORE GUERRERO, MEXICO
26                 PUERTO RICO REGION
27                     WESTERN TURKEY
28           SOUTH OF JAVA, INDONESIA
29          PHILIPPINE ISLANDS REGION
30      FOX ISLANDS, ALEUTIAN ISLANDS
31           FLORES REGION, INDONESIA
32                    TARAPACA, CHILE
33      REVILLA GIGEDO ISLANDS REGION
34           SOUTH OF JAVA, INDONESIA
35                 PUERTO RICO REGION
36                     NORTHERN ITALY
37                        PUERTO RICO
38           ISLAND OF HAWAII, HAWAII
39                    SOUTHERN ALASKA
40                            ALBANIA
41                 PUERTO RICO REGION
42           SOUTH OF JAVA, INDONESIA
43                           SLOVENIA
44      MINAHASA, SULAWESI, INDONESIA
45        NORTHERN MID-ATLANTIC RIDGE
46      GOLFO DE FONSECA, EL SALVADOR
47                SULAWESI, INDONESIA
48                             FRANCE
49                     SOUTHERN IDAHO

In [146]:
df["latitude"] = pd.DataFrame(latitude)
df

                                    0 latitude
0                 SOUTHERN CALIFORNIA   34.59
1         NORTHERN SUMATRA, INDONESIA  118.80
2          DODECANESE ISLANDS, GREECE    4.39
3                      EASTERN TURKEY   96.56
4         SOUTHERN SUMATRA, INDONESIA   35.15
5                         PUERTO RICO   27.79
6            ISLAND OF HAWAII, HAWAII   38.22
7          DODECANESE ISLANDS, GREECE   38.76
8                       CRETE, GREECE    2.88
9                  PUERTO RICO REGION  103.03
10          CHAGOS ARCHIPELAGO REGION   17.96
11         KEPULAUAN BABAR, INDONESIA   66.83
12                SOUTHERN CALIFORNIA   19.22
13                           KOSOVO *  155.42
14                 LUZON, PHILIPPINES   35.15
15           ISLAND OF HAWAII, HAWAII   27.83
16                            CROATIA   34.69
17           AZORES ISLANDS, PORTUGAL   23.57
18      KERMADEC ISLANDS, NEW ZEALAND   17.93
19                 DOMINICAN REPUBLIC   66.95
20   NEAR EAST COAST OF HONSHU, JAPAN    5.32
21                     CENTRAL ALASKA   68.69
22   NEAR THE COAST OF WESTERN TURKEY    7.31
23                       ADRIATIC SEA  129.32
24                           OKLAHOMA   33.25
25          OFFSHORE GUERRERO, MEXICO  116.64
26                 PUERTO RICO REGION   42.11
27                     WESTERN TURKEY   20.70
28           SOUTH OF JAVA, INDONESIA   15.76
29          PHILIPPINE ISLANDS REGION  119.18
30      FOX ISLANDS, ALEUTIAN ISLANDS   19.20
31           FLORES REGION, INDONESIA  155.42
32                    TARAPACA, CHILE   45.88
33      REVILLA GIGEDO ISLANDS REGION   16.01
34           SOUTH OF JAVA, INDONESIA   38.67
35                 PUERTO RICO REGION   29.05
36                     NORTHERN ITALY   30.77
37                        PUERTO RICO  177.04
38           ISLAND OF HAWAII, HAWAII   19.69
39                    SOUTHERN ALASKA   70.95
40                            ALBANIA   36.50
41                 PUERTO RICO REGION  141.00
42           SOUTH OF JAVA, INDONESIA   62.92
43                           SLOVENIA  150.52
44      MINAHASA, SULAWESI, INDONESIA   39.59
45        NORTHERN MID-ATLANTIC RIDGE   26.02
46      GOLFO DE FONSECA, EL SALVADOR   41.48
47                SULAWESI, INDONESIA   19.45
48                             FRANCE   36.26
49                     SOUTHERN IDAHO   95.20

In [147]:
df["longitude"] = pd.DataFrame(longitude)
df

                                    0 latitude longitude
0                 SOUTHERN CALIFORNIA   34.59        N
1         NORTHERN SUMATRA, INDONESIA  118.80        W
2          DODECANESE ISLANDS, GREECE    4.39        2.2
3                      EASTERN TURKEY   96.56        N
4         SOUTHERN SUMATRA, INDONESIA   35.15        E
5                         PUERTO RICO   27.79        2.5
6            ISLAND OF HAWAII, HAWAII   38.22        N
7          DODECANESE ISLANDS, GREECE   38.76        E
8                       CRETE, GREECE    2.88        3.2
9                  PUERTO RICO REGION  103.03        N
10          CHAGOS ARCHIPELAGO REGION   17.96        E
11         KEPULAUAN BABAR, INDONESIA   66.83        2.4
12                SOUTHERN CALIFORNIA   19.22        S
13                           KOSOVO *  155.42        E
14                 LUZON, PHILIPPINES   35.15        2.7
15           ISLAND OF HAWAII, HAWAII   27.83        N
16                            CROATIA   34.69        W
17           AZORES ISLANDS, PORTUGAL   23.57        2.6
18      KERMADEC ISLANDS, NEW ZEALAND   17.93        N
19                 DOMINICAN REPUBLIC   66.95        W
20   NEAR EAST COAST OF HONSHU, JAPAN    5.32        2.3
21                     CENTRAL ALASKA   68.69        N
22   NEAR THE COAST OF WESTERN TURKEY    7.31        E
23                       ADRIATIC SEA  129.32        4.1
24                           OKLAHOMA   33.25        N
25          OFFSHORE GUERRERO, MEXICO  116.64        E
26                 PUERTO RICO REGION   42.11        3.1
27                     WESTERN TURKEY   20.70        N
28           SOUTH OF JAVA, INDONESIA   15.76        W
29          PHILIPPINE ISLANDS REGION  119.18        2.6
30      FOX ISLANDS, ALEUTIAN ISLANDS   19.20        S
31           FLORES REGION, INDONESIA  155.42        E
32                    TARAPACA, CHILE   45.88        5.2
33      REVILLA GIGEDO ISLANDS REGION   16.01        S
34           SOUTH OF JAVA, INDONESIA   38.67        E
35                 PUERTO RICO REGION   29.05        4.7
36                     NORTHERN ITALY   30.77        N
37                        PUERTO RICO  177.04        W
38           ISLAND OF HAWAII, HAWAII   19.69        2.1
39                    SOUTHERN ALASKA   70.95        N
40                            ALBANIA   36.50        E
41                 PUERTO RICO REGION  141.00        2.4
42           SOUTH OF JAVA, INDONESIA   62.92        N
43                           SLOVENIA  150.52        E
44      MINAHASA, SULAWESI, INDONESIA   39.59        3.6
45        NORTHERN MID-ATLANTIC RIDGE   26.02        N
46      GOLFO DE FONSECA, EL SALVADOR   41.48        W
47                SULAWESI, INDONESIA   19.45        2.0
48                             FRANCE   36.26        N
49                     SOUTHERN IDAHO   95.20        E

## NO CONSIGO SEPARAR LATITUDE Y LONGITUDE!

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [20]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [148]:
hack_res = requests.get(url)

hack_soup = BeautifulSoup(hack_res.text)

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [149]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [150]:
twitter_res = requests.get(url)

twitter_soup = BeautifulSoup(twitter_res.text)

#NO HE CONSEGUIDO

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [24]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [25]:
# NO HE CONSEGUIDO

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [157]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [158]:
lang_res = requests.get(url)

lang_soup = BeautifulSoup(lang_res.text)

In [165]:
languages = lang_soup.select(".link-box")
languages[0].text

'\nEnglish\n6\xa0050\xa0000+ articles\n'

In [169]:
lst_lang = [lang.text.strip("\n") for lang in languages]
lst_lang

['English\n6\xa0050\xa0000+ articles',
 'EspaÃ±ol\n1\xa0588\xa0000+ artÃ\xadculos',
 'æ\x97¥æ\x9c¬èª\x9e\n1\xa0198\xa0000+ è¨\x98äº\x8b',
 'Deutsch\n2\xa0416\xa0000+ Artikel',
 'FranÃ§ais\n2\xa0197\xa0000+ articles',
 'Ð\xa0Ñ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹\n1\xa0611\xa0000+ Ñ\x81Ñ\x82Ð°Ñ\x82ÐµÐ¹',
 'Italiano\n1\xa0595\xa0000+ voci',
 'ä¸\xadæ\x96\x87\n1\xa0109\xa0000+ æ¢\x9dç\x9b®',
 'PortuguÃªs\n1\xa0027\xa0000+ artigos',
 'Polski\n1\xa0399\xa0000+ haseÅ\x82']

#### A list with the different kind of datasets available in data.gov.uk

In [28]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [29]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [30]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [31]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [32]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [33]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [34]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [35]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [36]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [37]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [38]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

KeyboardInterrupt:

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code